<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.ashigeru.slim3.eclipse.ui.properties.Slim3PropertyPage"
            id="com.ashigeru.slim3.eclipse.ui.propertyPage.slim3"
            name="Slim3">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     forcePluginActivation="false"
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.ashigeru.slim3.eclipse.ui.command.addNature"
            name="Add Slim3 Nature">
      </command>
      <command
            id="com.ashigeru.slim3.eclipse.ui.command.removeNature"
            name="Remove Slim3 Nature">
      </command>
      <command
            id="com.ashigeru.slim3.eclipse.ui.command.addClassLibrary"
            name="Add Slim3 Class Library">
      </command>
      <command
            id="com.ashigeru.slim3.eclipse.ui.command.removeClassLibrary"
            name="Remove Slim3 Class Library">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.ashigeru.slim3.eclipse.ui.command.addNature">
         <class
               class="com.ashigeru.slim3.eclipse.ui.handlers.AddNatureHandler">
         </class>
         <enabledWhen>
            <with
                  variable="activeMenuSelection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.eclipse.jdt.core.javanature">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="com.ashigeru.slim3.project.hasNature"
                           value="false">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="com.ashigeru.slim3.eclipse.ui.command.removeNature">
         <class
               class="com.ashigeru.slim3.eclipse.ui.handlers.RemoveNatureHandler"></class>
         <enabledWhen>
            <with
                  variable="activeMenuSelection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           forcePluginActivation="true"
                           property="com.ashigeru.slim3.project.hasNature"
                           value="true">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="com.ashigeru.slim3.eclipse.ui.command.addClassLibrary">
         <class
               class="com.ashigeru.slim3.eclipse.ui.handlers.AddClassLibraryHandler">
         </class>
         <enabledWhen>
            <with
                  variable="activeMenuSelection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           forcePluginActivation="true"
                           property="com.ashigeru.slim3.project.hasNature"
                           value="true">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="com.ashigeru.slim3.project.hasClassLibrary"
                           value="false">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="com.ashigeru.slim3.eclipse.ui.command.removeClassLibrary">
         <class
               class="com.ashigeru.slim3.eclipse.ui.handlers.RemoveClassLibraryHandler">
         </class>
         <enabledWhen>
            <with
                  variable="activeMenuSelection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           forcePluginActivation="true"
                           property="com.ashigeru.slim3.project.hasNature"
                           value="true">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="com.ashigeru.slim3.project.hasClassLibrary"
                           value="true">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="com.ashigeru.slim3.eclipse.popup"
               label="Slim3">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
            <command
                  commandId="com.ashigeru.slim3.eclipse.ui.command.addNature"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="com.ashigeru.slim3.eclipse.ui.command.removeNature"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="com.ashigeru.slim3.eclipse.ui.command.addClassLibrary"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="com.ashigeru.slim3.eclipse.ui.command.removeClassLibrary"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
