<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="library" name="Slim3 Library" schema="schema/library.exsd"/>
   <extension
         id="com.ashigeru.slim3.nature"
         name="Slim3 Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.ashigeru.slim3.eclipse.core.project.Slim3Nature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="com.ashigeru.slim3.eclipse"
         name="Slim3 Generators"
         point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
      <factories
            enableDefault="true">
         <factory
               class="com.ashigeru.slim3.eclipse.internal.core.apt.Slim3AnnotationProcessorFactory">
         </factory>
      </factories>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.ashigeru.slim3.eclipse.core.project.Slim3ClasspathContainerInitializer"
            id="com.ashigeru.slim3.eclipse.core.coreLibraries">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.ashigeru.slim3.eclipse.internal.core.expressions.Slim3ProjectPropertyTester"
            id="com.ashigeru.slim3.eclipse.core.propertyTester.project"
            namespace="com.ashigeru.slim3.project"
            properties="hasNature,hasClassLibrary"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
   </extension>

</plugin>
